html, body {
  background: #FAF0E6;
  height: 100%;
  text-align: center;
}

/* Colors */
.red {
  background: #922222;
}
.blue {
  background: #222292;
}
.yellow {
  background: #929222;
}
.green {
  background: #229222;
}

.bright-red {
  background: red;
}
.bright-blue {
  background: blue;
}
.bright-yellow {
  background: yellow;
}
.bright-green {
  background: #7F0;
}
.slate {
  background: #789;
}

.indicator-on {
  color: #7F0;
}
.indicator-off {
  color: #B22222;
}

/*Bootstrap edits and add-on CSS*/

.btn {
  border-radius: 0;
  margin-bottom: 10px;
}

.btn-xlg {
  height: 6em;
}

.btn-xxlg {
  height: 8em;
}

.row.small-pad {
  margin-right:-5px;
  margin-left:-5px;
}
.row.small-pad > [class*='col-'] {
  padding-right:5px;
  padding-left:5px;
}

/* App-specific CSS (sorted by position from top to bottom) */

.simon-body {
  background: #333;
  margin-top: 10%;
}

.simon-screen {
  background: #000;
  height:10em;
  margin: 1em 0;
}

.simon-screen>span{
  color: #D00;
  font-family:'Orbitron', sans-serif;
  font-size: 4em;
  line-height: 2.5em;
  margin: auto 0;
  padding: auto;
}

.fa-indicator {
  position: absolute;
  right: 10px;
  top: 5px;
}

#strict>span {
  font-size: 1.15em;
  font-weight: bold;
}

/* For phone sizes */

@media only screen and (max-width: 768px) {
  body {
    background: #333;
  }
  .simon-body {
    margin-top: 0;
    padding-top: 5%;
  }

}
